@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
/* ================================================== */
/* BASIC SETUP */
/* ================================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

/* === Headings === */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 10px;
  margin-top: 15px;
  letter-spacing: 1px;
}

/* ================================================== */
/* RECIPES */
/* ================================================== */
.App {
  /* background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.headline {
  text-align: center;
}

.headline h1 {
  font-size: 64px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-button {
  background: rgb(117, 167, 233);
  border: none;
  padding: 10px 20px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background 1s;
}

.search-button:hover {
  background: rgb(46, 134, 250);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
